html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: black;
	font-family: 'Courier New', Courier, monospace;
}

button {
	cursor: pointer;
}

button,
.header-main {
	-webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

/* Header */
.header-main {
	color: #FFF;
	font-size: 3rem;
	font-weight: 700;
}

/* Canvas */
.canvas-container {
	display: grid;
	padding: 1rem 0;
}

.canvas-container button {
	margin-top: 1.4rem;
	width: 20rem;
	height: 4rem;
	margin: auto;
	font-size: 2.5rem;
}

/* Page */
.page-main {
	width: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	background-color: #FFF;
	padding: 2rem;
}